<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" href="styles/app.min.css" />
</head>
<body>
    <div class="wrapper">

<!--ЧЕРДАК-->

        <header class="header">
        
            <div class="header-content header-container">
                <a href="index.html" class="header-logo">
                    <img src="./images/logo.svg" alt="logo">
                </a>
                <div class="header-nav">
                    <div class="header-nav-natural d-flex">
                        <div class="header-nav-natural-about"><a href="about-mission.html">О компании</a></div>
                        <div class="header-nav-natural-service"><a href="service.html">Услуги</a></div>
                        <div class="header-nav-natural-team"><a href="#">Команда</a></div>
                        <div class="header-nav-natural-infocenter"><a href="#">Инфоцентр</a></div>
                        <div class="header-nav-natural-contacts"><a href="#">Контакты</a></div>
                    </div>
                    <div class="header-nav-border d-flex">
                        <svg viewBox="0 0 1 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect width="1" height="28" fill="white" fill-opacity="0.1"/>
                        </svg>
                    </div>
                    <div class="header-nav-legal d-flex">          
                        <a href="#">
                            <svg class="header-nav-legal-case" width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.21429 0.584534C5.38587 0.584534 4.71429 1.2561 4.71429 2.08453V4.39186H2C0.895431 4.39186 0 5.28729 0 6.39186V16.4286C0 17.5331 0.895431 18.4286 2 18.4286H18C19.1046 18.4286 20 17.5331 20 16.4286V6.39186C20 5.28729 19.1046 4.39186 18 4.39186H15.2857V2.08453C15.2857 1.25611 14.6142 0.584534 13.7857 0.584534H6.21429ZM13.2857 6.39186V6.60288C13.2857 7.15517 13.7334 7.60288 14.2857 7.60288C14.838 7.60288 15.2857 7.15517 15.2857 6.60288V6.39186H18V16.4286L2 16.4286V6.39186H4.71429V6.60288C4.71429 7.15517 5.16201 7.60288 5.71429 7.60288C6.26658 7.60288 6.71429 7.15517 6.71429 6.60288V6.39186H13.2857ZM13.2857 4.39186V2.58453H6.71429V4.39186H13.2857Z" fill="#EAC57E"/>
                            </svg>
                            <span class="text-gold">Для бизнеса</span>
                        </a>
                    </div>  
                </div>
                <div class="phone">
                    <a href="tel:8 (909) 593 10 90" class="justify-end phone__wrapper">
                    <div class="icon-wrapper phone__icon">
                        <img src="./images/icons/phone.svg" alt="phone">
                    </div>
                    <div class="phone__info">
                        <span class="phone__link"><span class="text-gold">8 (909)</span> 593 10 90</span>
                        <span class="header-small-text"><br>Санкт-Петербург</span>
                    </div>
                    </a>
                </div>
            </div>
        
        </header>

<!--СТРАНИЦА УСЛУГ КОНТЕНТ-->

<!--СТРАНИЦА УСЛУГ КОНТЕНТ ВЕРХНИЙ БЛОК-->
        
        <section class="topping">
            <div class="topping-background topping-background__service"></div>
            <div class="topping-content container">
                <div class="topping-content-info">
                    <a href="index.html" class="d-flex">
                        <div class="icon-wrapper">
                            <img src="./images/icons/arrowShort.svg" alt="arrow">
                        </div>
                        <span class="text-gold">Вернуться назад</span> 
                    </a>
                    <h1>Услуги</h1>
                </div>
            </div>
        </section>

<!--СТРАНИЦА УСЛУГ КОНТЕНТ НИЖНИЙ БЛОК-->

        <section class="service">
            <div class="service-content container">
                <div class="service-container">
                    <div class="service-left">
                        <div class="service-list">
                            <div class="column">
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Ведения дел об административных правонарушениях
                                        </h3>
                                        <ul>
                                            <li><a href="service-information.html">Обжалование административных штрафов</a></li>
                                            <li><a href="#">Оспаривание привлечения к административной ответственности</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Военное право
                                        </h3>
                                        <ul>
                                            <li><a href="#">Защита прав призывников</a></li>
                                            <li><a href="#">Получение жилья военнослужащими</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Жилищное право
                                        </h3>
                                        <ul>
                                            <li><a href="#">Выселение из жилья</a></li>
                                            <li><a href="#">Коммунальные споры</a></li>
                                            <li><a href="#">Судебное вселение</a></li>
                                            <li><a href="#">Споры с застройщиком</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <a href="#"><h3 class="text-gold">
                                            Досудебное урегулирование споров
                                        </h3></a>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Земельное право
                                        </h3>
                                        <ul>
                                            <li><a href="#">Определение порядка пользования земельным участком</a></li>
                                            <li><a href="#">Оспаривание кадастровой стоимости</a></li>
                                            <li><a href="#">Оспаривание результатов межевания</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Наследство
                                        </h3>
                                        <ul>
                                            <li><a href="#">Оспаривание завещаний</a></li>
                                            <li><a href="#">Признание наследника недостойным</a></li>
                                            <li><a href="#">Составление завещаний</a></li>
                                            <li><a href="#">Установление факта наследства</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Защита прав потребителя
                                        </h3>
                                        <ul>
                                            <li><a href="#">Защита прав потребителей при возврате товаров</a></li>
                                            <li><a href="#">Защита прав потребителей при замене товаров</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Гражданское право
                                        </h3>
                                        <ul>
                                            <li><a href="#">Ведение гражданских дел</a></li>
                                            <li><a href="#">Взыскание задолженности</a></li>
                                            <li><a href="#">Взыскание компенсаций</a></li>
                                            <li><a href="#">Взыскание материального ущерба</a></li>
                                            <li><a href="#">Взыскание морального вреда</a></li>
                                            <li><a href="#">Взыскание неустойки</a></li>
                                            <li><a href="#">Защита интеллектуальных прав</a></li>
                                            <li><a href="#">Защита прав потребителей</a></li>
                                            <li><a href="#">Признание договоров недействительными</a></li>
                                            <li><a href="#">Признание права собственности</a></li>
                                            <li><a href="#">Страховые споры</a></li>
                                            <li><a href="#">Установление юридических фактов</a></li>
                                            <li><a href="#">Юридическое сопровождение сделок</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Исполнительное производство
                                        </h3>
                                        <ul>
                                            <li><a href="#">Снятие ареста с имущества</a></li>
                                            <li><a href="#">Снятие ареста со счёта</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="service-list-item">
                                    <div class="service-list-item-content">
                                        <h3 class="text-gold">
                                            Брачный договор
                                        </h3>
                                        <ul>
                                            <li><a href="#">Расторжение брачного договора в судебном порядке</a></li>
                                            <li><a href="#">Составление брачного договора</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            Мы представляем интересы клиентов в международных арбитражных и судебных процессах 
                            в России и за рубежом, оказываем юридическое сопровождение международных 
                            коммерческих и инвестиционных проектов, сложных M&A сделок, консультируем 
                            по вопросам корпоративного и антимонопольного права, интеллектуальной собственности, 
                            информационных технологий, банковского и финансового права, налогообложения, 
                            недвижимости и строительства, трудового, транспортного и морского права. Наши юристы 
                            также участвуют в целом ряде крупнейших инфраструктурных и ГЧП проектов, реализуемых 
                            в регионе.
                        </p>
                    </div>
                    <div class="service-right">
                        <div class="service-call-back">
                            <h3 class="text-gold">Возникли вопросы?</h3>
                            <img src="./images/icons/help.svg" alt="help">
                            <p>
                                Позвоните нам по номеру:<br>
                                <a href="tel:8 (909) 593 10 90"><span>8 (909) 593 10 90</span></a><br><br>
                                или оставьте заявку на обратный<br>
                                звонок и наш специалист<br>
                                перезвонит Вам в течении 15 минут
                            </p>
                            <div class="btn__wrapper btn__wrapper__stretched">
                                <button class="btn btn-gold btn__stretched" type="button" data-consult>Обратный звонок</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 <!--ФУТЕР-->
 
        <footer class="footer">
            <div class="footer-background"></div>
            <div class="footer-content container">
                <div class="footer-top">
                    <a href="#main" class="logo">
                        <img src="./images/logo.svg" alt="logo">
                    </a>
                    <p class="footer-top-text">
                    Содержание данного информационного ресурса (сайт www.epam.ru), включая любую информацию и результаты интеллектуальной деятельности, защищены законодательством 
                    Российской Федерации и международными соглашениями. Любое использование, копирование, воспроизведение или распространение любой размещенной информации, 
                    материалов и (или) их частей не допускается без предварительного получения согласия правообладателя и влечет применение мер ответственности.
                    </p>
                    <div class="col footer__item">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/rdglex.exp" target="_blank" class="social-icons__item">
                                <img src="images/icons/social-facebook.svg" alt="facebook-icon" />
                            </a>
                            <a href="https://vk.com/public204625257" target="_blank" class="social-icons__item">
                                <img src="images/icons/social-vk.svg" alt="vk-icon" />
                            </a>
                            <a href="mailto: inform@rdglex.ru" target="_blank" class="social-icons__item">
                                <img src="images/icons/mail.svg" alt="mail-icon" />
                            </a>
                        </div>
                    </div>
                </div>
            <div class="grey-line-horizontal"></div>
                <div class="footer-down">
                    <span class="footer-down-item">Copyright 2021 RDG Lex</span>
                    <a href="#" class="footer-down-item">Политика конфиденциальности</a>
                    <a href="#" class="footer-down-item">Защита персональных данных</a>
                </div>
            </div>
        </footer> 

    </div> 
</body>
</html>