.about-office {
  &-adress {
    display: none;
    height: 100px;
    background-color: $background-blue-3;
    @include w768 {
      display: flex;
      align-items: center;
      justify-content: center;
      br {
        display: none;
      }
    }
    @include w480 {
      br{
        display: initial;
      }
    }
  }
  &-text {
    color: white;
    font-size: 18px;
    line-height: 36px;
    @include w480 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      span {
        font-size: 18px;
        line-height: 36px;
      }
    }
  }
  &-map {
    height: 45.68vw;
    max-height: 877px;
    min-height: 500px;
    background: url(../images/about-map.png) no-repeat center center;
    background-size: cover;
    @include w768 {
      background: url(../images/about-map-768.png) no-repeat center center;
      background-size: cover;
    }
    @include w480 {
      background: url(../images/about-map-360.png) no-repeat center center;
      background-size: cover;
    }
  }
}
