.about-career {
  background-color: $background-blue-4;
  &-content {
    padding-top: 72px;
    padding-bottom: 80px;
    @include w1200 {
      padding-top: 65px;
      padding-bottom: 68px;
    }
    @include w768 {
      padding-top: 25px;
      padding-bottom: 32px;
    }
  }
  &-container {
    display: grid;
    grid-template-columns: 20.69% auto;
    column-gap: 4.86%;
    @include w768 {
      grid-template-columns: 1fr;
    }
  }
  &-left {
    p {
      font-size: 32px;
      font-weight: 600;
      line-height: 39px;
      color: white;
      @include w1200 {
        font-size: 26px;
        line-height: 30px;
      }
      @include w768 {
        font-size: 20px;
        line-height: 24px;
        padding-bottom: 23px;
        br {
          display: none;
        }
      }
    }
    span {
      color: $gold;
    }
  }

  .highlight-box {
    margin: 75px 0 70px;
    @include w1200 {
      margin: 50px 0;
    }
    @include w768 {
      margin: 27px 0;
    }
  }
  .btn__wrapper {
    display: flex;
    margin-top: 80px;
    @include w1200 {
      margin-top: 50px;
    }
    @include w768 {
      margin-top: 30px;
      justify-content: space-between;
    }
    @include w480 {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .btn-regular {
    margin-right: 25px;
    &:last-child{
      margin-right: 0;
    }
    @include w480 {
      margin-right: 0;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;;
      }
    }
  }

  .btn {
    @include w768 {
      font-size: 14px;
      height: 48px;
      width: 328px;
    }
    @include w320 {
      width: 288px;
    }
  }
}

.benefits, .requirements {
  &-item {
    display: flex;
    padding-bottom: 28px;
    &:last-child {
      padding-bottom: 0;
    }
    @include w768 {
      padding-bottom: 24px;
    }
    &-text {
      color: white;
    }
  }
}
.benefits-item-marker {
  padding-top: 5px;
  padding-right: 33px;
  padding-left: 7px;
  @include w1200 {
    padding-right: 23px;
  }
  @include w768 {
    padding-left: 5px;
    padding-right: 13px;
  }
  img {
    width: 22px;
    height: auto;
    @include w768 {
      width: 14px;
    }
  }
}
.requirements-item-marker {
  padding-top: 11px;
  padding-right: 28px;
  @include w1200 {
    padding-right: 18px;
  }
  @include w768 {
    padding-right: 14px;
    img {
      width: 16px;
    }
  }
}