.footer {
  background-color: $background-blue-1;
  &-top {
    padding: 110px 0 98px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-text {
      padding: 0 40px;
      font-size: 11px;
      line-height: 17px;
    }
  }
  &-down {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    &-item {
      padding: 66px 0 117px 40px;
      font-size: 16px;
      line-height: 40px;
      color: $white-subtext;
      &:first-child {
        padding-left: 0px;
      }
    }
    
  }
  
  .col {
    flex: 0 1 33.3%;

    @include w1440 {
      padding: 30px 60px;
    }

    @include w1024 {
      padding: 30px;
      white-space: normal;
    }

    @include w480 {
      flex: 1;
      width: 100%;
      border: none;
    }
  }
}

.social-icons {
  display: flex;
  align-items: flex;
  justify-content: flex-end;

  &__item {
    width: 48px;
    height: 48px;
    border: 1px solid $white-low;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    transition: .3s;

    &:hover {
      border-color: $gold;
    }

    &:last-child {
      margin-right: 0px;
    }

    img {
      height: 24px;
    }
  }
}