.header {
  background-color: $background-blue-2;
  &-container {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
  min-height: 60px;
  max-height: 134px;
  }
  &-content {
    display:grid;
    grid-template-columns: 23% 54% 23%;
    height: 6.98vw;
    align-items: center;
    @include w768 {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &-small-text {
    font-size: 13px;
    line-height: 16px;
    color: $white-subtext;
  }
  &-logo {
    margin-left: 60px;
    @include w1024 {
      margin-left: 16px;
    }
    img {
      @include w1024 {
        width: 76.77px;
        height: 32px;
      }
    }
  }
  &-nav {
    display: grid;
    grid-template-columns: 75.5% 1px auto;
    align-items: center;
    @include w768 {
      display: none;
    }
    &-natural {
      justify-content: space-around;
      margin: 0 20px;
      @include w1200 {
        justify-content: space-between;
        margin: 0 10px;
      }
    }
    &-legal {
      white-space: nowrap;
      &-case {
        margin: 0 24px -3px 50px;
        @include w1440 {
          margin: 0 10px -3px 20px;
        }
        @include w1024 {
          height: 15px;
        }
      }
    }
    &__mobile {
      display: none;
      @include w768 {
        display: block;
        position: relative;
        align-items: center;
      }
      &-list {
        @include w768 {
          display: block;
          position: absolute;
          top: 60px;
          right: -100vw;
          white-space: nowrap;
          z-index: 10;
          background-color: $background-blue-2;
          padding: 20px 35px;
          transition: all 0.4s ease;
          &.open-menu {
            right: 0;
            position: fixed;
            height: calc(100vh-60px);
            width: 100vw;
            bottom: 0;
          }
          &-item {
            padding: 10px 0;
            &:hover {
              color: $gold;
            }
          } 
        }
      }
    }
    &__burger {
      display: none;
      @include w768 {
        display: block;
        position: relative;
        height: 25px;
        width: 24px;
        margin-right: 16px;
        &::after, span {
          width: 100%;
          height: 2px;
          background: $gold;
          position: absolute;
          margin: 0 auto;
        }
        span {
          top: 7px;
        }
        
        &::after {
          content: '';
          top: 16px;
        }
        &.open-menu span {
          transform: rotate(45deg);
          transition: 0.4s;
        }
        &.open-menu::after {
          transform: rotate(-45deg);
          transition: 0.4s;
          top: 7px;
        }
      }
    }
  }
}

