.header {
  background-color: $background-blue-2;
  &-container {
  max-width: 1920px;
  margin: 0 auto;
  min-width: 320px;
  }
  
  &-content {
    display:grid;
    grid-template-columns: 23% 54% 23%;
    height: 134px;
    align-items: center;
  }
  &-small-text {
    font-size: 13px;
    line-height: 16px;
    color: $white-subtext;
  }
  &-logo {
    margin-left: 60px;
  }
  &-nav {
    display: grid;
    grid-template-columns: 75.5% 1px auto;
    height: 31px;
    &-natural {
      justify-content: space-around;
      flex-wrap: nowrap;
      margin: 0 20px;
    }
    &-legal {
      flex-wrap: nowrap;
      &-case {
        margin: 0px 24px 0 50px;
      }
      span {
        white-space: nowrap;
      }     
    }
    
  }
}

.phone {
  margin-right: 59px;
  &__icon {
    &:hover {
      border-color: $gold;
    }
  }
}

