.infocenter-contacts {
  background-color: $background-blue-3;
  &-container {
    display: grid;
    grid-template-columns: auto 32.15%;
    column-gap: 3.47%;
    padding: 68px 0 70px;
  }
  &-left {
    border-right: 1px solid $white-low;
    padding-right: 50px;
  }

  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
    color: white;
    padding: 5px 0 46px;
  }
  &-right {
    h3 {
      padding-bottom: 0;
    }
      
    &-element {
      border-bottom: 1px solid $white-low;
      padding: 30px 0 35px;
      &:first-child {
        padding-top: 0px;
      }
      a {
        font-size: 22px;
        font-weight: 600;
        line-height: 27px;
        padding-top: 8px;
      }
    }
  }
}