.slider {
  content: '';
  display: block;
  height: 672px;
  width: 100%;
  background: rgba(14, 25, 41, 0.8);
  z-index: 0;
  &-background {
    z-index: -1;
    top: 132px;
    right: 0px;
    width: 100%;
    height: 672px;
    position: absolute;
    background: url('../images/HomePageSlider.jpg') no-repeat center center;
    background-size: cover;
  }     
  &-content {
    position: relative;
    &-info{
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
    }
    &-controls {
      position: absolute;
      width: 100%;
      bottom: 40px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

