.news {
  background: $background-blue-3;
  &-content {
    &-head {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 70px 0;
      div {
        line-height: 11px;
        padding-top: 7px;
      }
      &::before, &::after {
        content: "";
        position: absolute;
        background: $white-low;
        height: 1px;
        width: 50vw;
        bottom: 0;
      }
      &::before {
        right: 50%;
      }
      &::after {
        left: 50%;
      }
    }
    &-block {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      &-item {
        border-left: 1px solid $white-low;
        min-height: 461px;
        &:last-child {
          border-right: 1px solid $white-low;
        }
        article {
          padding: 72px 46px 0 39px;
        }
        .btn__wrapper {
          padding-top: 32px;
          padding-bottom: 70px;
          margin-top: 0px;
        }
        h3 {
          padding-top: 8px;
        }
        p {
          padding-top: 18px;
        }
        &:hover {
          transition: .5s;
          background: url('../images/newsbg.png') no-repeat center center;
          background-size: cover;
        }
      }
    }
  }
}