.news-article {
  background-color: $background-blue-3;
  &-content {
    padding-top: 72px;
    padding-bottom: 80px;
    @include w768 {
      padding-top: 19px;
      padding-bottom: 32px;
    }
    @include w480 {
      padding-top: 24px;
    }
  }
  &-container {
    display: grid;
    grid-template-columns: 20.69% auto;
    column-gap: 4.86%;
    row-gap: 75px;
    @include w768 {
      grid-template-columns: 1fr;
      row-gap: 19px;
    }
  }
  &-left {
    p {
      font-size: 32px;
      font-weight: 600;
      line-height: 39px;
      color: white;
      @include w1200 {
        font-size: 26px;
        line-height: 30px;
      }
      @include w768 {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__social{
      margin-top: 42px;
      @include w768 {
        margin-top: 0;
        display: flex;
        align-items: center;
      }
      @include w480 {
        margin-top: 8px;
        flex-direction: column;
        align-items: flex-start;
      }
      span {
        color: $white-subtext;
        @include w1200 {
          font-size: 14px;
        }
        @include w768 {
          font-size: 12px;
        }
      }
    }
    &__flex {
      display: flex;
      flex-direction: column;
      @include w768 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }
      @include w480 {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .social-icons {
      justify-content: flex-start;
      padding: 12px 0 8px;
      @include w768 {
        padding: 0 0 0 17px;
      }
      @include w480 {
        padding: 10px 0 8px;
      }
      &__item {
        @include w1440 {
          width: 32px;
          height: 32px;
        }
        img {
          height: 24px;
          @include w1440 {
            height: 15px;
          }
        }
      }
    }
  }
  &-photo {
    padding-top: 65px;
    @include w768 {
      display: none;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  .highlight-box {
    margin: 62px 0 0;
    @include w1200 {
      margin: 45px 0 5px; 
    }
    @include w768 {
      margin: 28px 0 10px; 
    }
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $white-low;
    padding: 50px 0 8px;
    margin-top: 50px;
    @include w1200 {
      padding: 40px 0 4px;
      margin-top: 39px;
    }
    @include w768 {
      padding: 30px 0 0;
      margin-top: 27px;
    }
    &-item {
      display: flex;
      align-items: center;
    }
    span {
      padding-right: 18px;
      @include w768 {
        font-size: 12px;
        padding-right: 14px;
      }
      &:last-child {
        padding-right: 0;
        padding-left: 18px;
        @include w768 {
          padding-left: 14px;
        }
      }
    }
  }
  &-bottom {
    background-color: $background-blue-4;
  }
}
