.service {
	background-color: $background-blue-3;
	&-container {
		display: grid;
		grid-template-columns: 2fr 1fr;
		column-gap: 30px;
		padding: 60px 0 100px;
		@include w768 {
			grid-template-columns: 1fr;
			padding: 0;
			margin: 0 -24px;
		}
	}
	&-call-back {
		background-color: $background-blue-dark;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		h3 {
			padding: 51px 20px 42px;
			font-size: 32px;
			line-height: 39px;
			text-align: center;
			@include w1200 {
				padding: 37px 20px;
				font-size: 28px;
				line-height: 34px;
			}
			@include w768 {
				padding: 28px 20px;
				font-size: 24px;
				line-height: 29px;
			}
		}
		img {
			@include w1200 {
				width: 110px;
			}
			@include w768 {
				color: white;
			}
		}
		span {
			font-size: 24px;
			line-height: 39px;
			font-weight: 700;
		}
		&--text {
			width: 328px;
			text-align: center;
			padding-top: 53px;
			@include w1200 {
				padding: 49px 16px 0;
			}
			@include w768 {
				width: 564px;
				padding: 45px 24px 0;
			}
			@include w480 {
				width: 100%;
				padding: 0 16px;
			}
			p {
				color: white;
			}
		}
	}
	&-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 30px;
		@include w768 {
			grid-template-columns: 1fr;
		}
		&-item {
			background-color: $background-blue-4;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
			@include w768 {
				margin-bottom: 0;
				border-bottom: 1px solid $white-low;
			}
			&-content {
				padding: 38px;
				@include w768 {
					padding: 0 24px;
					h3 {
						color: white;
						padding-right: 24px;
					}
				}
				@include w480 {
					h3 {
						letter-spacing: 0;
						padding-right: 5px;
					}
				}
				ul {
					list-style-position: outside;
					color: $gold;
					list-style-type: disc;
					padding-left: 18px;
					padding-top: 27px;
					@include w768 {
						padding-top: 0;
					}
					li {
						padding-bottom: 25px;
						padding-left: 6px;
						&:last-child {
							padding-bottom: 3px;
							@include w768 {
								padding-bottom: 24px;
							}
						}
						@include w768 {
							padding-bottom: 20px;
						}
					}
					a {
						color: white;
						&:hover {
							color: $gold;
							transition: 0.3s;
						}
					}
				}
			}
		}
	}
	&-summary {
		padding-right: 28px;
		padding-top: 42px;
		@include w768 {
			display: none;
		}
	}

	/*АККОРДЕОН*/
	.accordion-service,
	.accordion-service__empty {
		@include w768 {
			height: 72px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}
	.accordion__active,
	.service-list-item:hover {
		@include w768 {
			h3 {
				color: $gold;
			}
		}
	}
	.accordion-service:after {
		@include w768 {
			content: '\002B';
			color: $gold;
			font-size: 20px;
			font-weight: bold;
			float: right;
		}
	}
	.accordion__active:after {
		@include w768 {
			content: '\2212';
		}
	}
	.panel {
		@include w768 {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.3s ease-out;
		}
	}
}
