.service {
  background-color: $background-blue-3;
  &-content {
    min-height: 2174px;
  }
  &-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    padding-top: 60px;
  }
  &-left {
    p {
      padding-right: 28px;
      padding-top: 42px;
    }
  }
  &-call-back {
    background-color: $background-blue-dark;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      padding: 51px 10px 0;
      font-size: 32px;
      line-height: 39px;
    }
    img {
      padding-top: 42px;
    }
    p {
      color: white;
      text-align: center;
      padding: 53px 10px 0;
    }
    span {
      font-size: 24px;
      line-height: 39px;
      font-weight: 700;
    }
  }
  &-list {
    display: flex;
    flex-flow: column wrap;
    &-item {
      width: 48.4%;
      background-color: $background-blue-4;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      &-content {
        padding: 38px;
        ul {
          list-style-position: outside;
          color: $gold;
          list-style-type: disc;
          padding-left: 18px;
          padding-top: 27px;
          li {
            padding-bottom: 25px;
            padding-left: 6px;
            &:last-child {
              padding-bottom: 3px;
            }
          }
          a {
            color: white;
            &:hover {
              color: $gold;
              transition: .3s;
            }
          }
        }
      }
    }
  }
}