.slider {
  position: relative;
  max-height: 672px;
  min-height: 200px;
  height: 35vw;
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    max-height: 672px;
    background: url('../images/homepage.png') no-repeat center center;
    background-size: cover;
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: rgba(14, 25, 41, 0.8);
    }
  }     
  &-content {
    position: relative;
    &-info{
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
      @include w768 {
        top: 45%;
      }
    }
    &-controls {
      position: absolute;
      width: 100%;
      bottom: 2.08vw;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 32px;
      @include w768 {
        justify-content: center;
        padding-right: 0;
        height: 16px;
      } 
    }
  }
}



