.slider {
  content: '';
  display: block;
  position: relative;
  max-height: 672px;
  height: 35vw;;
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 35vw;
    max-height: 672px;
    position: absolute;
    background: url('../images/HomePageSlider.jpg') no-repeat center center;
    background-size: cover;
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: rgba(14, 25, 41, 0.8);
    }
  }     
  &-content {
    position: relative;
    &-info{
      position: absolute;
      top: 47%;
      transform: translateY(-50%);
    }
    &-controls {
      position: absolute;
      width: 100%;
      bottom: 40px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 32px; 
    }
  }
}



