.topping {
  content: '';
  display: block;
  height: 378px;
  width: 100%;
  background: rgba(14, 25, 41, 0.8);
  z-index: 0;
  &-background {
    z-index: -1;
    top: 134px;
    right: 0px;
    width: 100%;
    height: 378px;
    position: absolute;
    background: url('../images/service.png') no-repeat center center;
    background-size: cover;
  }     
  &-content {
    position: relative;
    a {
      align-items: center;
    }
    span {
      padding-left: 18px;
    }
    &-info{
      position: absolute;
      top: 46%;
      transform: translateY(-50%);
      h1 {
        padding-top: 30px;
      }
    }
  }
}

