.topping-with-navbar {
  position: relative;
  min-height: 177px;
  max-height: 378px;
  height: 19.68vw;
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 100%;
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: rgba(14, 25, 41, 0.8);
    }
    &__about-mission {
      background: url('../images/about-mission.png') no-repeat right center;
      background-size: cover;
    }
    &__about-reputation {
      background: url('../images/about-reputation.png') no-repeat right center;
      background-size: cover;
    }
    &__about-career {
      background: url('../images/about-career.png') no-repeat right center;
      background-size: cover;
    }
    &__about-office {
      background: url('../images/about-office.png') no-repeat right center;
      background-size: cover;
    }
    &__infocenter-news {
      background: url('../images/infocenter-news.png') no-repeat right center;
      background-size: cover;
    }
    &__infocenter-contacts {
      background: url('../images/infocenter-contacts.png') no-repeat right center;
      background-size: cover;
    }
  }     
  &-content {
    position: relative;
    @include w768 {
      img {
        width: 4.67px;
        height: 9.33px;
      }
    }
    a {
      align-items: center;
    }
    span {
      padding-left: 18px;
      @include w768 {
        padding-left: 14px;
      }
    }
    h1 {
      padding-top: 30px;
      @include w768 {
        font-size: 24px;
        line-height: 29px;
        padding-top: 18px;
      }
    }
    &-info {
      position: absolute;
      top: 37%;
      transform: translateY(-50%);
      @include w768 {
        top: 35%;
        span {
          font-size: 12px;
        }
      }      
    }
    &::before, &::after {
      content: "";
      position: absolute;
      background: $white-low;
      height: 1px;
      width: 50vw;
      bottom: 24%;
      @include w768 {
        bottom: 30%
      }
    }
    &::before {
      right: 50%;
    }
    &::after {
      left: 50%;
    }
  }
}

.topping-navbar {
  display:flex;
  position: absolute;
  bottom: 0%;
  height: 29%;
  align-items: flex-end;
  @include w1200 {
    height: 34%;
  }
  @include w1024 {
    height: 37%;
  }
  @include w768 {
    height: 42%;
  }
  
  &-element {
    height: 50%;
    margin-right: 65px;
    @include w768 {
      margin-right: 40px;
    } 
    @include w360 {
      margin-right: 15px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &-link {
    line-height: 21px;
    font-weight: 600;
    @include w320 {
      font-size: 12px;
    }
    
    &:hover {
      color: $gold;
    }
  }
  .active {
    border-bottom: 3px solid $gold;
  }
}


