.topping {
  position: relative;
  max-height: 378px;
  height: 19.68vw;
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 19.68vw;
    max-height: 378px;
    &::after {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      background: rgba(14, 25, 41, 0.8);
    }
    &__service {
      background: url('../images/service.png') no-repeat right center;
      background-size: cover;
    }
    &__service-info {
      background: url('../images/service.png') no-repeat right center;
      background-size: cover;
    }
    &__team {
      background: url('../images/team.png') no-repeat right center;
      background-size: cover;
    }
    &__news-article {
      background: url('../images/news-article.png') no-repeat right center;
      background-size: cover;
    }
  }     
  &-content {
    position: relative;
    a {
      align-items: center;
    }
    span {
      padding-left: 18px;
    }
    h1 {
      padding-top: 30px;
    }
    &-info {
      position: absolute;
      top: 46%;
      transform: translateY(-50%);
    }
  }
}

