@import 'common/normalize';
@import 'common/variables';
@import 'common/fonts';
@import 'common/adaptive';
@import 'common/elements';

@import 'pages/header';
@import 'pages/slider.scss';
@import 'pages/news.scss';