$gold: rgba(234, 197, 126, 1);
$white-text: #ffffff;
$black-text: #000000;
$white-subtext: rgba(255, 255, 255, 0.45);
$white-low: rgba(255, 255, 255, 0.1);
$white-low-20: rgba(255, 255, 255, 0.2);
$invalid: #ea847e;
$btn-sending-background: #d6d6d6;
$btn-sending-color: #777777;

$blue-opacity: rgba(14, 25, 41, 0.8);

$background-blue-deep: #121f35;
$background-blue-dark: #132139;
$background-blue-1: #172640;
$background-blue-2: #1a2c49;
$background-blue-3: #203456;
$background-blue-4: #1b2c49;
$background-input: #eef2f9;
$input-placeholder: #9ca3b0;
$input-color: #203456;

$nav-width: 235px;
